

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

  background-color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Form layout */
.login-form .form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #444;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s ease;
  font-size: 15px;
}

input:focus {
  border-color: #5c9ded;
  outline: none;
  box-shadow: 0 0 5px rgba(92, 157, 237, 0.4);
}



.error {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 5px;
  display: none; 
  
}



.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #5c9ded;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #417ee0;
}



.result-message {
  margin-top: 20px;
  font-size: 14px;
  color: #e74c3c;
  text-align: center;
  display: none; /* Show conditionally via JS */
}


@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }
}
a{
  color:rgba(41, 245, 23, 0.514);
  margin:30px ;
}





/* loggle button */
:root{
   --bg-light:"white";
   --text-light:"black";

   --bg-dark:"black";
   --text-dark:"white";


}
body .light{
   background-color: var(--bg-light);
   color:var(--text-light) ;
}
body .dark{
   background-color: var(--bg-dark);
   color: var(--text-dark);
}
body{
   margin: 0;
  transition:background-color 3s ease,
  color 3s ease;
}
.container{
 display: flex;
 flex-direction: column;
 height: 100vh;
 justify-content: center;
 align-items: center;
}
button{
   margin-top:20px ;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   border: none;
   border-radius: 6px;
   background-color: rgb(60, 60, 163);
   color: antiquewhite;
}